@font-face {
  font-family: 'videogular';
  src: url('/fonts/videogular.eot');
  src: url('/fonts/videogular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/videogular.woff') format('woff'),
  url('/fonts/videogular.ttf') format('truetype'),
  url('/fonts/videogular.svg#videogular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.videogular-container-player-only {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
}

.videogular-container-player-only-metadata {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 75%;
}

.videogular-container {
  position: absolute;
  top: 150px;
  left: 0px;
  width: 100%;
  height: 80%;
}

.videogular-container-floating {
  position: absolute;
  width: 400px;
  height: 225px;
  top: 145px;
  right: 15px;
  z-index: 97;
}

.videogular-container-none {
  display: none;
}

.videogular-container.audio {
  width: 100%;
  height: 50px;
}

vg-scrub-bar-cue-points.metadata .cue-point {
  background-color: red !important;
}

videogular div.my-logo-layer {
  position: absolute;
  display: block;
  z-index: 50;
  top: 20px;
  left: 30px;
  width: 25%;
  opacity: 0.5;
}
